html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

#formularioTareas {

    background-color: rgb(137, 188, 215);
    height: 100vh;
}



textarea {
    resize: none;
}

div.tarea h4 {
    grid-area: titulo;
    align-self: center;
    overflow: hidden;
    padding-bottom: 10px;
}

.descripcion {
    grid-area: descripcion;
    overflow: hidden;
}

.fechaTarea {
    grid-area: fecha;
    text-align: right;
    padding-right: 10px;
}

div.tarea span {
    grid-area: borrar;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

div.tarea span i {
    font-size: 20px;
}

div.tarea span:hover {
    color: red;
    cursor: pointer;
}

#scrolleable{
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}


#lista-tareas {
    /*background: #DDD;*/
    max-width: 1200px;
    width: 270px;
}

/* clear fix */
#lista-tareas:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.tarea {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 25% 60% 15%;
    grid-template-areas:
        "titulo borrar"
        "descripcion descripcion"
        "fecha fecha";
    float: left;
    width: 250px;
    height: 250px;
    background: rgb(248, 240, 134);
    border: 1px solid #e6cd43;
    background-color: #F8E57C;
    background-image: linear-gradient(to bottom right, #f8e072, #f5f593);
}

.grid-item--width2 {
    width: 200px;
}

.grid-item--height2 {
    height: 200px;
}

.tarea:hover {
    border-color: hsla(0, 0%, 100%, 0.5);
    box-shadow: 2px 2px 2px hsla(0, 0%, 16%, 0.724);
    cursor: move;
}

.tarea.is-dragging,
.tarea.is-positioning-post-drag {
    background: #C90;
    z-index: 2;
}

.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

@media only screen and (min-width: 1520px) {
    #lista-tareas {
        width: 1030px;
    }
}

@media only screen and (max-width: 1519px) {
    #lista-tareas {
        width: 775px;
    }
}

@media only screen and (max-width: 1180px) {
    #lista-tareas {
        width: 530px;
    }
}

@media only screen and (max-width: 991px) {
    #formularioTareas {
        height: auto;
        padding-bottom: 30px !important;
        margin-bottom: 50px;
    }

    h2 {
        margin-bottom: 30px
    }

}

